
*{
    margin:0; /*tira espaço acima e abaixo de tudo */
    padding: 0; /* tira espaço a frente e atras de tudo */
    box-sizing: border-box;
    font-family: 'Popping', sans-serif;
}

:root{
     --clr: #222327;
     --color-menu: #fff;
     --translate-icon-Y: -32px;
     --translate-circle-Y: -50%;
     --distance-between-icons-Y: 70px;

     --item-1:1;
     --item-2:2;
     --item-3:3;
     --item-4:4;
     --item-5:5;
} 


body{
    display: flex;   /* Flexibiliza a localização do menu */
    justify-content: center; /* Centraliza da horizontal */
    align-items: center; /* centraliza na vertical */
    min-height: 100vh; /* Determina a altura mínima dos itens do menu */
    background: var(--clr); /* Pinta o fundo de preto */
} 

.navigation{ /* Cria o fundo branco atrás do menu */    
    position: relative;
    width: 400px;
    height: 70px;
    background: var(--color-menu);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul{
     display: flex; /* Joga itens na horizontal */
    width: 350px;  /* limita o tamanho do espaço dos itens */
}

.navigation ul li{
    position: relative;
    list-style: none; /* Retira o circulo que marca cada título ex: º Profile = Profile */
    width: var(--distance-between-icons-Y); /**/
    height: 70px;
    z-index: 1;
}

.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

.navigation ul li.active a .icon{
    transform: translateY(var(--translate-icon-Y));
}

.navigation ul li a .text{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text{
    opacity: 1;
    transform: translateY(10px);
}

.indicator{ /* Bola verde ao redor do ícone */
    position: absolute;
    width: 70px;
    height: 70px;
    background: #29fd53;
    top:var(--translate-circle-Y);
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}

.indicator::before{ /* border curves to left */
    content: '';
    position: absolute;
    top:50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--clr);
}

.indicator::after{ /* border curves to rigth */
    content: '';
    position: absolute;
    top:50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--clr);
}


.navigation ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(var(--distance-between-icons-Y) * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(var(--distance-between-icons-Y) * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(var(--distance-between-icons-Y) * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(var(--distance-between-icons-Y) * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator{
    transform: translateX(calc(var(--distance-between-icons-Y) * 4));
}